#clock {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  left: 47%;
  top: 15%;
  font: 15px/15px Microsoft Yahei;
  color: rgba(200, 200, 200, 0.6);
  background-color: rgba(100, 100, 100, 0.3);
}

#weather {
  width: 100%;
  height: 100%;
}

#weather>span {
  position: absolute;
  color: rgba(200, 200, 200, 0.6);
}


#temperature {
  font: 13px/50px Electrolize;
  left: 50px;
  top: 33px;
}

#state {
  font: 25px/50px Electrolize;
  left: 82px;
  top: 30px;
}



#weather #paint {
  /* 调整选择器优先级，避免被#weather>span覆盖颜色 */
  font-family: "iconfont" !important;
  font-size: 55px;
  font-style: normal;
  left: 15px;
  top: -5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

